<a href="https://colab.research.google.com/github/dhio-n/estatistica_com_python/blob/main/analise_de_dados_viagens_governo_federal_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib as plt

In [3]:
pagamento = pd.read_csv('/content/drive/MyDrive/Asimov/2023_20250309_Viagens/2023_Pagamento.csv', encoding='Windows-1252', sep=';')
passagem = pd.read_csv('/content/drive/MyDrive/Asimov/2023_20250309_Viagens/2023_Passagem.csv', encoding='Windows-1252', sep=';')
trecho = pd.read_csv('/content/drive/MyDrive/Asimov/2023_20250309_Viagens/2023_Trecho.csv', encoding='Windows-1252', sep=';')
viagem = pd.read_csv('/content/drive/MyDrive/Asimov/2023_20250309_Viagens/2023_Viagem.csv', encoding='Windows-1252', sep=';')

In [4]:
pd.set_option('display.max_columns', None)

In [7]:
trecho

,Identificador do processo de viagem,Número da Proposta (PCDP),Sequência Trecho,Origem - Data,Origem - País,Origem - UF,Origem - Cidade,Destino - Data,Destino - País,Destino - UF,Destino - Cidade,Meio de transporte,Número Diárias,Missao?
0,17821923,000001/23-1C,1,01/01/2023,Brasil,São Paulo,São Paulo,02/12/2023,Reino Unido,NaN,Loughborough,Aéreo,"0,00",Sim
1,17821923,000001/23-1C,2,02/12/2023,Reino Unido,NaN,Loughborough,02/12/2023,Brasil,São Paulo,São Paulo,Aéreo,"0,00",Não
2,18159396,000001/23,2,25/02/2023,Brasil,Rio de Janeiro,Rio de Janeiro,04/03/2023,Brasil,Goiás,Pirenópolis,Rodoviário,"0,00",Sim
3,18159396,000001/23,1,25/02/2023,Reino Unido,NaN,Aberdeen,25/02/2023,Brasil,Rio de Janeiro,Rio de Janeiro,Aéreo,"0,00",Não
4,18159396,000001/23,4,05/03/2023,Brasil,Rio de Janeiro,Rio de Janeiro,06/03/2023,Reino Unido,NaN,Aberdeen,Aéreo,"0,00",Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813738,2023001628,Sem informaçã,2,08/12/2023,Brasil,São Paulo,São Paulo,08/12/2023,Brasil,Distrito Federal,Brasília,Aéreo,"0,50",Não
1813739,2023001631,Sem informaçã,1,11/12/2023,Brasil,Distrito Federal,Brasília,11/12/2023,Brasil,São Paulo,São Paulo,Aéreo,"0,00",Não
1813740,2023001631,Sem informaçã,2,11/12/2023,Brasil,São Paulo,São Paulo,11/12/2023,Brasil,Distrito Federal,Brasília,Aéreo,"0,50",Não
1813741,2023001651,Sem informaçã,1,15/12/2023,Brasil,Distrito Federal,Brasília,18/12/2023,Brasil,São Paulo,São Paulo,Aéreo,"0,00",Não
1813742,2023001651,Sem informaçã,2,18/12/2023,Brasil,São Paulo,São Paulo,18/12/2023,Brasil,Distrito Federal,Brasília,Aéreo,"0,00",Não

In [16]:
colunas = ['Origem - Cidade','Destino - UF']
trecho[colunas]
trecho['Destino - Cidade'].str.upper()

0            LOUGHBOROUGH
1               SÃO PAULO
2             PIRENÓPOLIS
3          RIO DE JANEIRO
4                ABERDEEN
                ...
1813738          BRASÍLIA
1813739         SÃO PAULO
1813740          BRASÍLIA
1813741         SÃO PAULO
1813742          BRASÍLIA
Name: Destino - Cidade, Length: 1813743, dtype: object

In [12]:
colunas = ['Origem - Cidade','Destino - UF']
trecho

AttributeError: 'DataFrame' object has no attribute 'str'